# Project place file
/CMB | Programming.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Sensitive Data
ServerStorage/SensitiveData

# repl/VSCode/MacOS files
/.replit
/*.DS_Store
/.vscode


